form input{
  color: black;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

#my-form{
  display:flex;
  flex-direction: column;
  width: 60vw;
}

#my-form input{
  width: 100%;
  max-width: 550px;
}


/* .textarea[contenteditable]:empty::before {
  content: "How can I help?";
  color: white;


}

p span{
  background-color: white;
} */

/* .checkbox{
  z-index: +1;
} */

.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: left;
}

#my-form input.checkbox{
  width: 30px;
  padding-right: 5px;
}

.hide{
  display: none;
}