form input{
  color: black;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

#my-form{
  display:flex;
  flex-direction: column;
  width: 60vw;
}

#my-form input{
  width: 100%;
  max-width: 550px;
}

