form input {
  color: black;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

#my-form {
  display: flex;
  flex-direction: column;
  /* width: 60vw; */
  border: 2px solid black;
  padding: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 16%;
    margin-top: 15px;
}

.formBtn{
  width: 200px;
}

#my-form input {
  width: 100%;
  max-width: 300px;
}

#contact-link{
  justify-content: center;
  display: flex;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

#my-form input.checkbox {
  width: 30px;
  padding-right: 5px;
}

.hide {
  display: none;
}

/* footer */
.footer-links {
  display: flex;
  justify-content: space-around;
}

.footer-links a {
  font-size: 50px;
}

#my-form {
  display: flex;
  justify-content: center;
}

.my-email{
  font-weight: bold;
  font-size: 1.4rem;
}

.email-direct{
  text-align: center;
  margin-top: 20px;
}