/* new attempt */
.my-img {
	width: 70%;
	padding-left: 0;
	border-radius: 16px 16px 16px 16px;
	object-fit: cover;
}

.aboutme {
	/* border: 1px solid #599ae5; */
	border-radius: 16px 16px 16px 16px;
}

.from{
  /* width: 80%; */
}

@media screen and (min-width: 450px) {
	.from {
		padding-top: 40px;
	}
}
