.banner {
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	height: 70vh;
	/* box-shadow: 6px 16px 6px gray; */
}

.first,
.last,
.banner h1 {
	margin: 0 auto;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	font-size: 32px;
	/* font-weight: bold; */
}

.typed-text {
	position: absolute;
	top: 20px;
}

.name {
	/* transform: translateX(-100%); */
	transition: transform 0.8s cubic-bezier(0.61, -0.3, 0.7, -0.2);
}

.open-active {
	transform: translateX(0%);
}

/* NAV MENU */
/* The side navigation menu */
.sidenav {
	height: 70vh; /* 100% Full-height== same height as the banner */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 2; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	/* left: 25px; */
	font-size: 36px;
	margin-right: 50%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left 0.5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.menu-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 2;
}
