.banner {
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	height: 70vh;
	/* box-shadow: 6px 16px 6px gray; */
}

.first,
.last,
.banner h1 {
	margin: 0 auto;
	color: white;
	/* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
	font-size: 32px;
	/* font-weight: bold; */
}

.typed-text {
	position: absolute;
	top: 20vh;
}

.typed-text2 {
	position: absolute;
	top: 50vh;
	left: 40px;
	font-size: 32px;
	width: 100%;
}

.name {
	/* transform: translateX(-100%); */
	transition: transform 0.8s cubic-bezier(0.61, -0.3, 0.7, -0.2);
}

.open-active {
	transform: translateX(0%);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left 0.5s;
	padding: 20px;
}
