@import "banner.css";
@import "typed.css";
@import "aboutme.css";
@import "navbar.css";

body {
	background-color: #141414;
	color: white;
	background-image: url("images/reverse-bg.jpeg");
}

.typed-cursor {
	display: none;
}

p {
	color: white;
}
