@import "banner.css";
@import "typed.css";
@import "aboutme.css";
@import "navbar.css";
@import "skills.css";
@import "pulse.css";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background-color: #141414;
	color: white;
	background-image: url("images/reverse-bg.jpeg");
}

p {
	color: white;
}

h1,
h2,
h3 {
	font-family: "Poppins", sans-serif;
}
