/* .navbar-lewagon {
	justify-content: space-between;
	background: white;
	height: 10vh;
	position: absolute;
	top: 0;
	width: 100vw;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	width: 40px;
}

.navbar-toggler {
	opacity: 1;
} */

.navbar-lewagon {
	justify-content: space-between;
	background: transparent;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 10vh;
	z-index: 1;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	width: 50px;
}

.avatar {
	width: 40px;
	border-radius: 50%;
}
