.project-img {
	width: 90%;
	height: 90%;
	/* object-fit: contain;  this makes image small to fit the width of its div */
	object-fit: cover;
	padding: 0;
}

.project {
	margin-top: 55px;
	/* border: 2px solid white; */
	border-radius: 4px;
}

.project-sentence {
	width: 90%;
	margin: 0 auto;
}

.project-link {
	text-decoration: underline;
}
