.project-img {
  height: 80%;
	width: 90%;
	/* height: 50%; */
	/* object-fit: contain;  this makes image small to fit the width of its div */
	/* object-fit: cover; */
	padding: 0;
	border-radius: 2px;
}

.project {
	margin-bottom: 55px;
	/* border: 2px solid white; */
	border-radius: 4px;
}

.project-sentence {
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}

.project-link {
	text-decoration: underline;
}

.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;
}

.tech-logo {
	max-width: 50px;
	max-height: 50px;
	/* width: 100%; */
	/* height: 100%; */
	padding: 0;
}

#projects-link {
	justify-content: center;
	padding: 10px;
	background-color: #599ae5;
}
