#typed {
	color: white;
	font-size: 40px;
  width: 230px;
  
}


.typed-cursor {
	display: none;
}

@media screen and (max-height: 450px) {
	#typed {
		padding-top: 35px;
	}
	/* #typed a {
		font-size: 56x;
	} */
}

.typing{
  float: left;
  
}