#typed {
	color: white;
	font-size: 40px;
	width: 220px;
}

#typed2 {
	/* width: 200px; */
}

.typed-text {
	position: absolute;
	top: 20vh;
}

.typed-text2 {
	position: absolute;
	top: 50vh;
	left: 40px;
	font-size: 32px;
	width: 100%;
}

.typed-cursor {
	display: none;
}

@media screen and (max-height: 450px) {
	#typed {
		padding-top: 35px;
	}
	/* #typed a {
		font-size: 56x;
	} */
}
