/* typography */
body{
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
a.nav-link{
  color: #EEF0F2 !important;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #191A1D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  width: 75px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

/* first section */
#section-1{
  height: 100vh;
  background-color: skyblue;
}


/* header */
header{
  position: sticky;
  top: 0;
}